@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-superlightgray: #e9ecef;
  --color-lightgray: #ced4da;
  --color-gray: #6c757d;
  --color-footergray: #f2f4f5;
  --color-darkgray: #343a40;
  --color-black: #121416;
  --color-red: #e2293f;
  --color-green: #22be73;
  --color-warning: #fcb62e;
  --color-blue: #2298ee;

  --breakpoint-*: initial;
  --breakpoint-2xs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-lightgray, currentcolor);
  }
}

@layer base {
  html,
  body {
    background-color: #f8f7f7;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    @apply mx-auto h-full px-2 lg:px-6 xl:!max-w-[1240px] 2xl:!max-w-[1240px];
  }

  h1 {
    @apply text-[1.5rem] font-bold 2xs:text-[1.75rem] sm:text-[2rem];
  }
  h2 {
    @apply font-bold max-2xs:text-[1.4rem] 2xs:text-[1.6rem] sm:text-[1.7rem];
  }

  a,
  button {
    @apply transition-all duration-100;
  }

  /*a:is(:hover) {*/
  /*  @apply text-red;*/
  /*}*/

  header .active {
    @apply rounded-full bg-superlightgray;
  }

  header a:hover {
    @apply rounded-full bg-superlightgray;
  }
}
